@font-face {
  font-family: "Lora";
  src: url("../../public/fonts/Lora-Regular.woff2") format("woff2"),
    url("../../public/fonts/Lora-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source-Serif";
  src: url("../../public/fonts/SourceSerif4-Regular.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Asterone";
  src: url("../../public/fonts/Asterone-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Asterone Outline";
  src: url("../../public/fonts/AsteroneOutline-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
}
